body {
  font-family: 'Montserrat', sans-serif;
}

/* select element by Id */
#product-overview {
  background: #ff1b68;
}

/* select element by class name */
.section-title {
  color: #2ddf5c;
  /* font-family: inherit; */
}

/* Using Combinators */
#product-overview h1 {
  color: white;

  /* Adding font-family from google font - Anton */
  font-family: 'Anton', sans-serif;
}

h1 {
  font-family: sans-serif;
}
/* select element by attribute name
[disabled]{
  color: red;
} */
