/* Target all elements to use border-box box sizing
  to consider padding and border for width and height */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;

  /* if we wish to override default body margin of 8px */
  margin: 0;
}

/* select element by Id */
#product-overview {
  background: #ff1b68;
  width: 100%;
  height: 528px;
  padding: 10px;
}

/* select element by class name */
.section-title {
  color: #2ddf5c;
  /* font-family: inherit; */
}

/* Using Combinators */
#product-overview h1 {
  color: white;

  /* Adding font-family from google font - Anton */
  font-family: 'Anton', sans-serif;
}

h1 {
  font-family: sans-serif;
}
/* select element by attribute name
[disabled]{
  color: red;
} */

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
}
